In [1]:
from fft import fft
import numpy as np
import pandas as pd

In [2]:
# Load the data from a URL into a pandas DataFrame
url = 'https://gml.noaa.gov/aftp/data/trace_gases/co2/flask/surface/txt/co2_mid_surface-flask_1_ccgg_month.txt'
df = pd.read_csv(url, delimiter="\s+", skiprows=54, names=['site', 'year', 'month', 'value'])

In [3]:
df

    site  year  month   value
0    MID  1985      5  350.28
1    MID  1985      6  348.82
2    MID  1985      7  347.17
3    MID  1985      8  344.69
4    MID  1985      9  342.39
..   ...   ...    ...     ...
447  MID  2022      8  415.60
448  MID  2022      9  414.46
449  MID  2022     10  416.29
450  MID  2022     11  418.60
451  MID  2022     12  420.55

[452 rows x 4 columns]

In [4]:
# Convert 'value' column to a NumPy array before slicing
cut_data = df['value'].to_numpy()[:256]
X = fft(cut_data)

In [5]:
def calculate_frequencies(X):
    sample_spacing = 1/12  #assuming yearly data, so the spacing is cycles per year
    N = len(X)
    freqs = np.fft.fftfreq(N, d=sample_spacing)
    return freqs[:N//2]   # return only positive frequencies
#calculate frequencies
frequencies = calculate_frequencies(X)

print(frequencies)

[0.       0.046875 0.09375  0.140625 0.1875   0.234375 0.28125  0.328125
 0.375    0.421875 0.46875  0.515625 0.5625   0.609375 0.65625  0.703125
 0.75     0.796875 0.84375  0.890625 0.9375   0.984375 1.03125  1.078125
 1.125    1.171875 1.21875  1.265625 1.3125   1.359375 1.40625  1.453125
 1.5      1.546875 1.59375  1.640625 1.6875   1.734375 1.78125  1.828125
 1.875    1.921875 1.96875  2.015625 2.0625   2.109375 2.15625  2.203125
 2.25     2.296875 2.34375  2.390625 2.4375   2.484375 2.53125  2.578125
 2.625    2.671875 2.71875  2.765625 2.8125   2.859375 2.90625  2.953125
 3.       3.046875 3.09375  3.140625 3.1875   3.234375 3.28125  3.328125
 3.375    3.421875 3.46875  3.515625 3.5625   3.609375 3.65625  3.703125
 3.75     3.796875 3.84375  3.890625 3.9375   3.984375 4.03125  4.078125
 4.125    4.171875 4.21875  4.265625 4.3125   4.359375 4.40625  4.453125
 4.5      4.546875 4.59375  4.640625 4.6875   4.734375 4.78125  4.828125
 4.875    4.921875 4.96875  5.015625 5.0625   5.109375 5.15625  5.203125
 5.25     5.296875 5.34375  5.390625 5.4375   5.484375 5.53125  5.578125
 5.625    5.671875 5.71875  5.765625 5.8125   5.859375 5.90625  5.953125]